html { overflow-x: hidden; }
header
{
	background-image: url('theme.jpg');
}
.logo
{
	border-radius: 50%;
}
.form
{
	margin-top: 3%;
}

.button
{
	width: 5%;
	height: 40px;
	background-image: url('search.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: transparent;
	padding: 0px;
	border:0px;
	color: white;
	filter: contrast(1);
	filter: brightness(100%);
	filter: invert(100%);
	position: relative;
}
.button:hover
{
	background-color: #ede1e1;
}
.searc
{
	width: 50%;
	height: 40px;
	margin-right: 0%;
	padding-right: 0px;
	background-color: transparent;
	border: 1px solid white;
	/*cursor: pointer;*/
	color: white;
}
.searc
{
    margin-left:30%; 
    width: 230px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon1.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 50px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-left: 0px;
}
.searc:focus
{
    width: 80%;
}
.form2
{
	margin-top: 8%;
}
.button0
{
	height: 40px;
	background-color: transparent;
	border: 0px;
	font-family: cursive;
	font-size: 1.2em;
	color: white;
}
.button0:hover
{
	background-color: green;
	border:0px;
	text-decoration: none;
	border-radius: 25%;
}
section.sec1
{
	background-color: grey;
	margin-top: 10px;
	margin-bottom: 10px;
}
#image
{
	width: 100%;
	height: 400px;
}
.mod
{
    width: 10%;
    height: 400px;
}
.sec2
{
    max-width: 60%;
    background-color: skyblue;
    margin-left: 0px;
    margin-top: 10px;
    margin-right: 10px;
}
.aside1
{
    max-width: 25%;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 5%;
    border: 1px solid red;
    background-color: lightgreen;
}
.button1
{
    background-color: rgba(0,0,0,0);
    padding: 0px;
    border: 0px;
}
.form3
{
    width: 50%;
    margin-right: 10px;
    background-color: lightgreen;
}
.foot
{
    background-image: url('theme.jpg');
    height: 40px;
    color: white;
    margin-top: 5px;
}
.footdiv
{
    margin-top: 10px;
}
.container1 {
    padding: 16px;
}
form.logform {
    border: 3px solid white;
    background-color: rgba(0,0,0,0.5);
    width: 60%;
    text-align: center;
    display: inline-block;
}
@media screen and (max-width: 420px) {
    form.logform {
    border:none;
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    display: inline-block;
}
.container1 {
    padding: 0px;
}
html { overflow-x: hidden; }
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button.butt1 {
    background-color: #373f10;
    color: white;
    padding: 15px 22px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button.butt:hover{
    opacity: 0.5;
}
.cancelbtn {
    color: white;
    width: auto;
    padding: 14px 20px;
    background-color: #373f10;
}
}
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

.lab
{
    color: white;
}
.bgcl
{
    background-color: white;
    height: 180px;
}
img.log {
    border-radius: 50%;
}


span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 550px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
        text-align: center;
    }
}
@media screen and (max-width: 550px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}
.layout {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.8); 
    padding-top: 60px;
}
.layou{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.8); 
    padding-top: 60px;
}
.layout1 {
    display: none;
    position: fixed;
    z-index: 1;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}
.load
{
    width:150px;
    height:100px;
}
.bg1
{
    margin: 0px auto;
    margin-top: 100px;
    height: 400px;
    width: 60%;
    text-align: center;
    background-color: rgba(255,255,255,1);
}
@media screen and (max-width: 600px) {
    .bg1
{
    margin: 0px auto;
    margin-top: 100px;
    height: 400px;
    width: 100%;
    text-align: center;
    background-color: rgb(255,255,255);
}
}
.heading
{
    color: white;
}
.clearfix::after {
    content: " ";
    clear: both;
    display: table;
}
.signupbtn {
    padding: 14px 20px;
    background-color: #f44336;
}
.cancelbtn,.signupbtn {
    float: left;
    width: 100%;
}
div.heading2
{
    background-color: black;
    color: white;
}
.radio1
{
    margin-left:0px;
    vertical-align: middle;
    text-align: left;
}